<!-- follow.ejs -->
<h1>User Profile: <%= userProfile.username %></h1>
<button onclick="followUser('<%= userProfile._id %>')">Follow</button>
<script>
  function followUser(userId) {
    // Send AJAX request to follow the user
  }
</script>
