<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">

    <input type="email" name = "email" placeholder="Enter the Email Address" required autocomplete="on" />
    <br><br>
    <input type="password" name = "password" placeholder="Enter the password" required autocomplete="off" />
    <br><br>
    <input type="submit" value="login" />
  </form>
<% if(typeof message !== 'undefined'){
    %> 
    <p style="color: green;"><%= message %> </p>
    <%
} %>
</body>
</html>
